@{
    ViewData["Title"] = "Clara";
}

@section css {
    <link rel="stylesheet" href="~/css/clara.css" />
}

<div class="text-center">
    <h1 class="display-4">CLARA</h1>
    <img src="https://s3.envato.com/files/277392254/201911302774.JPG"/>
    <p class="first-line">
        To see some of my awesome projects on github  -> <a id="github" href="https://https://github.com/clarafred">klick here</a>
        <br />
        <br />Soon you will see more awesome stuff right here...
    </p>
</div>