@{
    ViewData["Title"] = "Clara";
}

<div class="text-center">
    <h1 class="display-4">CLARA</h1>
    <p>Here are some of my awesome projects -> <a href="https://https://github.com/clarafred">my awesome projects</a>.</p>
    <p>
        Soon you will see more awesome stuff right here...
    </p>
</div>