@{
    ViewData["Title"] = "Clara";
}

<div class="text-center">
    <h1 class="display-4">WELCOME!</h1>
    <p>Here are some of my awesome projects -> <a href="https://https://github.com/clarafred">my awesome projects</a>.</p>
</div>