@{
    ViewData["Title"] = "Clara";
}

@section css {
    <link rel="stylesheet" href="~/css/clara.css" />
}
<div>
    <h1 class="display-4 text-center top">HIKING IN SWEDEN</h1>
    <div class="header-bar"></div>
</div>

<div class="pine-icon text-center">
    <img src="https://image.flaticon.com/icons/png/512/66/66715.png"/>
</div>

<div class="container">
    <div class="row">

        <div class="col-sm trans">
            <h3 class="text-center">THE WEATHER</h3>
            <p>
                Above the Arctic Circle, winter is severe with temperatures going below -30°C, while summer temperatures here,
                and in the rest of the country, regularly hit +20°C. In the south,
                winter is generally mild with an average temperature above 0°C/32°F degrees.
                <br /><br />
                Sweden's northerly position has a definite summer advantage in that temperatures are rarely extreme and humidity
                levels are not high. For up to date weather information for Sweden you should visit the SMHI site, where you'll
                also find maps and graphs with weather information: <a href="http://smhi.se">smhi.se</a>
                <br /><br />
                So, no Polar bears we’re afraid, just the wonderful Swedish weather and all the fantastic things you can do in it.
            </p>
        </div>
        <div class="col-sm trans">
            <h3 class="text-center">TOP TRAILS</h3>
            <p><strong>> </strong><a href="https://visitsweden.com/where-to-go/northern-sweden/swedish-lapland/kings-trail-kungsleden/">THE KING'S TRAIL (north)</a></p>
            <p><strong>> </strong><a href="https://www.utvandrarleden.se/en-GB">THE EMIGRANT TRAIL (western)</a></p>
            <p><strong>> </strong><a href="https://skaneleden.se/en/#googtrans(sv|en)">SKÅNELEDEN TRAIL (south)</a></p>
        </div>
        <div class="col-sm trans text-center">
            <h3>PLAN YOUR TRIP</h3>
            
            <p>
                <a href="https://foxtrail.fjallraven.com/articles/prepare-for-fjallraven-classic-part-2-what-to-pack/">
                <img src="https://image.flaticon.com/icons/png/512/212/212849.png" />
                <br />WHAT TO BRING?</a>
                <br />
            </p>
            <p>
                <a href="https://visitsweden.com/explore-map/">
                <img src="http://simpleicon.com/wp-content/uploads/map-8.png" />
                <br />MAP</a>
                <br />
            </p>
            
            <p>
                <a href="https://www.nationalparksofsweden.se/">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjUGsRqM1U13_rXytjlolqlCJnUWfc_tcPeg&usqp=CAU" />
                <br />NATIONAL PARKS</a>
                <br />
            </p>
        </div>
    </div>
</div>