@{
    ViewData["Title"] = "ACJ";
}

<div class="text-center">
    <h1 class="display-4">WELCOME!</h1>
    <p class="members-list">To the beautiful website of group 2 - Ali, Clara & Jesper.</p>
</div>
