@{
    ViewData["Title"] = "Jesper";
}

@section css {
    <link rel="stylesheet" href="~/css/jesper.css" />
}

<div class="text-center">
    <h1 class="display-4">FIND YOUR SKI RESORT</h1>
</div>
<div class="Empty">

</div>

<div id="wrapper">
    <div id="Left">
        <div class="Skiresortbox">
            <p>
                <h2> Länkar till skidområden i norden:</h2>
                <h5>
                    <a href="https://www.skidorter.net/sverige.php"><br />Svenska skidorter</a>
                </h5>
                <h5>
                    <a href="https://www.skidorter.net/norge.php"><br />Norska skidorter</a>
                </h5>
                <h5>
                    <a href="https://www.skidorter.net/finland.php"><br />Finska skidorter</a>
                </h5>
            </p>
        </div>
        <div class="Weatherbox">
            <h4> Hämta snö progge </h4>
            <h5>
                <a href="https://se.snow-forecast.com/maps"><br />SnowForecast</a>
            </h5>
            <h5>
                <a href="https://www.skiinfo.se/sverige/snoprognos.html"><br />Vart ska det snöa</a>
            </h5>
        </div>
        <div class="special">
            <h4>3D kartor</h4>
            <h5>
                <a href="https://maps.snowzat.com"><br />Snowzat</a>
            </h5>
        </div>
    </div>

    <div id="Right">
        <div class="Googlecontainer">
            <div class="Googlemapsbox">
                <h4> GoogleMaps</h4>
                <div id="googleMap" style="width:100%;height:300px;">
                </div>

                <script>let marker;

                    function initMap() {
                        const map = new google.maps.Map(document.getElementById("map"), {
                            zoom: 13,
                            center: { lat: 59.325, lng: 18.07 },
                        });
                        marker = new google.maps.Marker({
                            map,
                            draggable: true,
                            animation: google.maps.Animation.DROP,
                            position: { lat: 59.327, lng: 18.067 },
                        });
                        marker.addListener("click", toggleBounce);
                    }

                    function toggleBounce() {
                        if (marker.getAnimation() !== null) {
                            marker.setAnimation(null);
                        } else {
                            marker.setAnimation(google.maps.Animation.BOUNCE);
                        }
                    }</script>

                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCug0b5_DVdle-tFS42V13CTeGJYC_ecE&callback=myMap"></script>
            </div>
        </div>
    </div>
</div>

<div class="Empty">

</div>