@{
    ViewData["Title"] = "Ali";
}
<link href="~/css/alisStyle.css" rel="stylesheet"/>
<div class="header">
    <div class="name">
        <h1>
            <strong>Ali Mesbahi</strong>
        </h1>
        <h2>
            <strong>Azure cloud utvecklare</strong>
        </h2>
    </div>
    <div class="image-background">
        <div class="image-placeholder">
            <div class="image-admin"></div>
        </div>
    </div>
</div>
<div class="content">
    <div class="left-panel">
        <div class="social-media">
            <h3>Group members</h3>
            <hr />
            <ul>
                <li>
                    <a href="@Url.Action("Index","Clara")">Clara Fred</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Jesper")">Jesper Norman</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Ali")">Ali Mesbahi</a>
                </li>
            </ul>
            <br />
            <h3>Github</h3>
            <ul>
                <li>
                <a href="https://github.com/clarafred/ACJ.git" target="_blank">Group's Repository</a>
                </li>
                <li>
                <a href="https://github.com/90rimane/ACJ.git" target="_blank">Ali's Repository</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-panel">
        <div class="education">
            <i class="material-icons">school</i>
            <h3>Education</h3>
            <hr />
            <div class="education-item">
                <h4>Jensen Yrkeshögskolan</h4>
                <ul>
                    <li>Azur cloud utvecklare, 2020 - 2022</li>
                </ul>
            </div>
            <div class="education-item">
                <h4>Hermods AB</h4>
                <ul>
                    <li>Webb utveckling 1, 2019 - 2019</li>
                    <li>Programmering 1, 2019 - 2019</li>
                </ul>
            </div>
            <div>
                <h4>Islamshar Universitiet/ IRAN</h4>
                <ul>
                    <li>Mechanical engineering, 2008 - 2012 (<a href="" target="_blank">More Info</a>)</li>
                </ul>
            </div>
        </div>
        <div class="work-experience">
            <i class="material-icons">business_center</i>
            <h3>Work Experience</h3>
            <hr />
            <div class="work-item">
                <h4>Staff Accountant II</h4>
                <div class="work-item-subtitle">
                    <h5 class="work-company">The Fresh Market, Inc.</h5>
                    <h5 class="work-year"> 2019 - 2019</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="work-item">
                <h4>Property Accountant</h4>
                <div class="work-item-subtitle">
                    <h5 class="work-company">Koury Corporation</h5>
                    <h5 class="work-year">August 2017 - January 2019</h5>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>

        </div>

    </div>

</div>
<div class="footer-alispage">
    <div class="footer-text"><p>| Projekarbete | Grupp 2 | Ali, Clara, Jesper |</p><br/>
    </div>
    
</div>
